AbcPos.BackOffice.Win/Service References/Services.BackendService/BackendService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AbcPos.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AbcPos.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfArtikal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Artikal" nillable="true" type="tns:Artikal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArtikal" nillable="true" type="tns:ArrayOfArtikal" />
  <xs:complexType name="Artikal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Barkod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cena" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="JedinicaMereID" type="xs:int" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OznakaJediniceMere" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PdvID" type="xs:int" />
      <xs:element minOccurs="0" name="PdvStopa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sifra" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Artikal" nillable="true" type="tns:Artikal" />
  <xs:complexType name="ArrayOfKeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValue" nillable="true" type="tns:KeyValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValue" nillable="true" type="tns:ArrayOfKeyValue" />
  <xs:complexType name="KeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValue" nillable="true" type="tns:KeyValue" />
</xs:schema>