AbcPos.BackOffice.Win/Service References/Services.BackendService/BackendService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53754/Services/BackendService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AbcPos.Web.Models" />
  <xs:element name="VratiArtikle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiArtikleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AbcPos.Web.Models" minOccurs="0" name="VratiArtikleResult" nillable="true" type="q1:ArrayOfArtikal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiJediniceMera">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiJediniceMeraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AbcPos.Web.Models" minOccurs="0" name="VratiJediniceMeraResult" nillable="true" type="q2:ArrayOfKeyValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiPdv">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiPdvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AbcPos.Web.Models" minOccurs="0" name="VratiPdvResult" nillable="true" type="q3:ArrayOfKeyValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SacuvajArtikal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AbcPos.Web.Models" minOccurs="0" name="artikal" nillable="true" type="q4:Artikal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SacuvajArtikalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SacuvajArtikalResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>